# version: '3.8'  # docker-composeのバージョン
# services: # 下のハッシュにサービスを作る。命名は自由だが、通常はwebとdbと名付ける。
#   db:
#     image: postgres # 使用するimage（dbでPostgreSQLを指定）
#     volumes: # ディレクトリのマウント設定（dbデータなどを残せる）
#       - ./tmp/db:/var/lib/postgresql/data
#     environment:
#       POSTGRES_PASSWORD: $POSTGRES_PASSWORD # .envファイルで指定
#   web:
#     build: . # Dockerfileなどがあるパス（基本的にカレントディレクトリ）
#     command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'" # コマンド（server.pidファイルを削除してからrailsサーバー起動)
#     volumes:
#       - .:/illustrations
#     ports: # ポート番号。[ホスト：コンテナ]で設定。
#       - "3000:3000"
#     depends_on:
#       - db # 依存関係を示していて、起動順を指定できます。ここではdb→webへと起動します。









# nginx使用時に利用
version: '3.8'  # docker-composeのバージョン
# version: '3'
volumes:
  tmp_data:
  public_data:
services:
  nginx:
    build:
      context: ./
      dockerfile: ./docker/nginx/Dockerfile
    ports:
      - '80:80'
    volumes:
      - public_data:/illustrations/public
      - tmp_data:/illustrations/tmp/sockets
    depends_on:
      - app
    links:
      - app
  app:
    build:
      context: ./
      dockerfile: ./docker/rails/Dockerfile
    command: bundle exec puma
    volumes:
     #.:/illustrationsでプロジェクトのカレントフォルダとコンテナのフォルダを同期しています.これによって変更した箇所を再度ビルドすることなく、コンテナに反映することができます.
      - .:/illustrations:cached
      #nginxとsocket通信するためにホストコンピュータ上にtmp_dataというファイルを作成し、nginxコンテナと共有しています.
      - tmp_data:/illustrations/tmp/sockets
      - public_data:/illustrations/public
    tty: true
    stdin_open: true
    depends_on:
      - db # 依存関係を示していて、起動順を指定できます。ここではdb→webへと起動します。
      - chrome
    environment:
      SELENIUM_DRIVER_URL: http://chrome:4444/wd/hub 
  chrome:
    image: selenium/standalone-chrome:latest
    ports:
      - 4444:4444
    # environment:
    #   SELENIUM_DRIVER_URL: http://chrome:4444/wd/hub 
    
  # # selenium_chrome を使うために以下の行を追加
  #   environment:
  #   - "SELENIUM_DRIVER_URL=http://selenium_chrome:4444/wd/hub"
  # selenium_chrome:
  #   image: selenium/standalone-chrome-debug
  #   logging:
  #     driver: none
    
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: $POSTGRES_PASSWORD # .envファイルで指定
      # POSTGRES_PASSWORD: 'postgres'