<% if @comment.errors.any? %>
<div id="error_explanation" class="margin_up">
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
    <li class="alert alert-danger"><%= msg %>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </li>
    <% end %>
  </ul>
</div>
<% end %>