<% if @comment.errors.any? %>
  <div id="error_explanation">
    <%= render 'layouts/flash' %>
    <h5><%= @comment.errors.count %>件のエラーがあります。</h5>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>