<%= render "shared/link_home" %>
<hr class="border_none">
<center>
<h4><i class="far fa-bell fa-lg"></i> 通知</h4>
<hr>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
<div class="skill-list jscroll">
<%= render notifications %>
<%= paginate notifications %>
</div>
<% else %>
<p>
    通知はありません
</p>
<hr>
<% end %>
</center>
<hr class="border_none">
<%= render "shared/link_home" %>