<% if post.liked_users.count > 1 %>
<i class="fas fa-heart unlike-btn" style="color: #e54747;"></i><span
    style="color: #e54747;"><%= post.likes.count %></span>
<% end %>
<% else %>
<i class="far fa-heart like-btn" style="color: #808080;"></i><span
    style="color: #808080;"><%= post.likes.count %></span>
<% end %>