<li class="nav-item underscore">
  <a class="js-modal-open nav-link" href=""><i class="fas fa-envelope"></i> お問い合わせ</a>
  <% if user_signed_in? %>
  </div>
  <% else %>
  </li>
  <% end %>
  <div class="modal js-modal">
    <div class="modal__bg js-modal-close"></div>
    <div class="modal__content">

      <%= render "inquiry/index" %>

      <a class="js-modal-close" href="">閉じる</a>
    </div>
    <!--modal__inner-->
  </div>
  <!--modal-->
  </div>