<%# <%= link_to "ホームへ戻る", posts_path, data: {"turbolinks"=>false} %>
<div class="margin_up">
<%= link_to(posts_path, class: "btn btn-light") do %>
<i class="fas fa-step-backward"></i> トップへ戻る
<% end %>
</div>