<%= form_tag(search_path,:method => 'get') do %>
<%= text_field_tag :search, '', class: '', placeholder: "投稿記事を探す" %>
<%# <%= submit_tag '検索', class: "btn-outline-info badge-light", :name => nil %>
<%= button_tag :name => nil, :class =>"btn-outline-info badge-light" do %>
<i class="fa fa-search"></i>検索
<%# </div> %>
<% end %>
<% end %>