default: &default
  adapter: postgresql
  encoding: unicode
  host: db
  username: postgres
  password: <%= ENV["POSTGRES_PASSWORD"] %>
  pool: 5
  port: 5432

development:
  <<: *default
  database: illustrations_development


test:
  <<: *default
  database: illustrations_test
  host: localhost # circleciでのテストのみ使用

production:
  <<: *default 
  database: <%= ENV['DB_DATABASE'] %>
  username: <%= ENV['DB_USERNAME'] %> # RDS DBインスタンスのユーザー名
  password: <%= ENV['DB_PASSWORD'] %> # RDS DBインスタンスのパスワード
  host: <%= ENV['DB_HOST'] %> #xxxx.xxxx.ap-northeast-1.rds.amazonaws.com # RDS DBインスタンスのエンドポイント