<% if user_signed_in? %>
<div class="center-letter">
    <h4><i class="fas fa-film"></i> 投稿一覧</h4>
</div>
<% if params[:tag_name] %>
<h5><%= params[:tag_name] %></h5>
<% end %>
<% if @posts.exists? %>
<div class="skill-list jscroll">
    <% @posts.includes(:taggings, :user).each do |post| %>
    <div id="parent_flame" class="row no-gutters bg-white position-relative box">
        <%= render partial: "index", collection: @posts, as: 'post' %>
    </div>
    <p>
        <% end %>
        <%= paginate @posts %>
</div>
<% else %>
<center>
<hr>
投稿はありません
<hr>
</center>
<% end %>
<% end %>