<% if user_signed_in? %>
<div class="center-letter"><h4>投稿一覧</h4></div>

<div  class="skill-list jscroll">
<% @posts.includes(:taggings, :user).each do |post| %>
<%= render partial: "index", collection: @posts, as: 'post' %>
<% end %>

<%# <% if current_page?(root_path) %>
<%= paginate @posts %>
<%# <% else %>
<%# <% end %>

</div>

<% else %>
<% end %>