video {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   transform: translateX(-50%) translateY(-50%);
   z-index: 0;
}

.new_background {
   background-color: rgba(255, 255, 255, 0.8);
   // display: inline-block;
   padding: 20px;
   border-radius: 10px;
   /* 角を丸くする */
   // overflow:hidden;
}

.new_image {
   height: 70px;
   object-fit: cover;
   /* タテヨコ比を変えないままトリミング */
   padding-top: 20px;
}

.margin_top_bttom {
   margin: 5px 0 10px 0;
}

label,
input {
   display: block;
}

.padding_down {
   padding-bottom: 20px;
}

body {
   min-height: 100vh;
   margin: 0;
   /* ページ周りの余白をなくす */
   display: grid;
   grid-template:
      "...... ...... ...... ......"1fr 
      "left   ...... right ......"auto 
      "...... ...... ...... ......"1fr 
      / 1fr auto auto 1fr;
}

@media screen and (max-width: 762px) {
   body {
      grid-template:
         "header"
         "..."
         "left"
         "..."10px
         "right"1fr
         "..."10px;
   }

   .pcview {
      display: none;
   }

   .spview {
      display: block;
   }
}